body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

header {
    font-size: 30px;
    text-align: center;
}

.board-game {
    width: 90%;
    margin: 0 auto;
    position: absolute;
    height: 80%;
    background: rgb(43, 75, 17);
}

.card {
    background: rgb(211, 208, 208);
    border: 2px solid rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    margin-right: 2px;
    margin-left: 2px;
    height: 60px;
    width: 40px;
}

.red {
    color: rgb(165, 38, 29);
}

.black {
    color: black;
}

.west {
    position: absolute;
    left: 10px;
    top: 50%;
}

.east {
    position: absolute;
    right: 10px;
    top: 50%;
}

.north {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
}

.south {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.rules {
    position: absolute;
    border: 1px solid rgb(0, 0, 0);
}

.cards-hand {
}

.status {
    margin-bottom: 5px;
    text-align:center;
}
