body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

header {
    font-size: 30px;
    text-align: center;
}

.board-game {
    width: 90%;
    margin: 0 auto;
    position: absolute;
    height: 80%;
    background: rgb(43, 75, 17);
}

/* CARDS STYLES */
.card {
    background: rgb(211, 208, 208);
    border: 2px solid rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    margin-right: 2px;
    margin-left: 2px;
    height: 60px;
    width: 40px;
}

.hidden-card {
    background: rgb(224, 165, 137);
    border: 2px solid rgb(0, 0, 0);
    margin-right: 2px;
    margin-left: 2px;
    height: 60px;
    width: 40px;
}

button:focus {outline:0;} /* Remove blue border when button is clicked */

.red {
    color: rgb(165, 38, 29);
}

.black {
    color: black;
}

.not-playable {
    border: 1px solid rgb(255, 0, 0);
}

.playable {
    border: 1px solid rgb(6, 209, 23);
}

/* CROSS-USE STYLES */
.west {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0%, -50%);
    text-align: center;
    width: 28%;
}

.east {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0%, -50%);
    text-align: center;
    width: 28%;
}

.north {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
}

.south {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.game-info {
    position: absolute;
    padding-right: 5px;
    padding-bottom: 5px;
    border: 1px solid rgb(0, 0, 0);
}

.cards-hand {
}

.board-game-center {
    position: absolute;
    top: 50%;
    height: 40%;
    left: 50%;
    width: 20%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(0, 0, 0);
}

.auction-state {
    font-size: 2em;
    color: white;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.status {
    margin-bottom: 5px;
    font-size: 1.3em;
    background: rgb(162, 167, 159);
    display: inline-block;
    width: 150px;
}

.bidding-board {
    margin-bottom: 10px;
    background: rgb(162, 167, 159);
    display: inline-block;
    width: 340px;
}

.bidding-board input[type="number"]{
    width:45px;
    font-size:14px;
    text-align: center;
 }

 .bidding-board select{
    font-size:14px;
 }